// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

$front_primary: 'cairo', sans-serif;
$font_secondary: 'Noto Kufi Arabic', sans-serif;

@mixin htags($factore: 1rem) {
    h1 {
        font-size: 2.5 * $factore;
    }
    h2 {
        font-size: 2 * $factore;
    }
    h3 {
        font-size: 1.75 * $factore;
    }
    h4 {
        font-size: 1.5 * $factore;
    }
    h5 {
        font-size: 1.25 * $factore;
    }
    h6 {
        font-size: 1 * $factore;
    }
}

a {
    text-decoration: none;
}
